packages:
  fan: !include common/fan.yaml

esphome:
  name: maxxfan
  friendly_name: Maxxfan

# Your own configuration goes here
esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf

logger:
  level: INFO

api:
ota:
wifi:
captive_portal:
